
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

@import '~bootstrap/scss/bootstrap';

@import 'variables';
@import 'styles/navbar.scss';
@import 'styles/sidebar.scss';
@import 'styles/auth.scss';
@import 'styles/libraty_card.scss';
@import 'styles/сounters.scss';
@import 'styles/abount.scss';


html{
    line-height: 1.5rem;
    background-color: $body-bg;
    background: $background-main-image;
}

main{
    background-color: $body-bg;
    background: $background-main-image;
}

body {
    font-size: .875rem;
}

*, *::before, *::after{
    box-sizing: border-box;
}